.form-container {
	max-width: 500px;
	margin: 50px auto;
	background-color:rgba(255, 101, 101, 0.53);
	padding: 20px;
}

.form-container h2 {
	text-align: center;
	margin-bottom: 20px;
}

.form-container label {
	display: block;
	margin-bottom: 10px;
}

.form-container input, .form-container select, .form-container textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 4px;
	border: none;
}

.form-container input[type="submit"] {
	background-color: #d80000;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 10px 20px;
	cursor: pointer;
}

.form-container input[type="submit"]:hover {
	background-color: #b80000;
}
